mixin s-team()
	// start s-team
	+b.s-team.section#s-team&attributes(attributes)
		.container
			+b.section-title
				.h5.text-primary Совсем забыли вас познакомить...
				h2 Осмотр и&nbsp;консультацию проведут опытные маммологи, которые никуда не&nbsp;торопятся 
				.h5 Наши доктора
			.row.align-items-center
				+e.col.col-lg-4.col-md-auto
					+e.slider-sm.--js
						mixin sl(i,t,p)
							+e.slide-sm
								+e.item-sm
									+e.img-wrap-sm
										img(src='#' data-lazy=`img/team-sm-${i}.jpg`, alt="")
									+e.caption-sm.d-none.d-lg-block
										.strong= t
										.small= p
							// /+e.slide-sm
						+sl('1','Чепурко Антон Юрьевич','Ведущий маммолог')
						+sl('1','Щербина Александр Иванович','Главный врач, онколог маммолог')
						+sl('1','Лозан Юрий Юрьевич','Маммолог')
						+sl('1','Онищенко Татьяна Борисовна','Врач акушер-гинеколог')
						

						+sl('1','Беседина Ольга Ивановна','Врач ультразвуковой диагностика') 
						+sl('1','Бельская Елена Александровна','Врач дерматовенеролог')
						+sl('1','Резюкин Алексей Васильевич','Врач хирург, ведущий маммолог') 
				+e.main-col.col-lg-8.col-md
					+e.slider-lg.--js
						mixin sl-lg(i,t,p, l1, l2)
							+e.slide-lg
								+e.item-lg
									.row
										.col.align-self-end.d-none.d-md-block
											+e.img-wrap.text-center
												img.res-i.lazy(src='#' data-srcset=`img/team-${i}.png`, alt="")
										.col-md-auto
											+e.caption-lg
												+e.head
													+e.title= t
													div= p
												block
												div: +e.link.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto")= l1 
												div: +e.link.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto")= l2
												+e.btn(href="#" data-toggle="modal" data-target="#modal-win" data-title=`Записаться на прием к<br/> ${t}`) Записаться на приём
							// /+e.slide-lg
						+sl-lg('1','Чепурко Антон Юрьевич','Ведущий маммолог',"Видео -презентация доктора Чепурко","Видео-отзывы о докторе Чепурко")
							p 
								strong Опыт работы: 
								| 
								|  5лет. 
							p 
								strong Образование: 
								| 
								| 
								| Луганскийский  государственный медицинский университетт 2013 г 
							p 
								strong Лечение заболеваний: 
								| 
								| Диагностика и лечение всех форм мастопатии (фиброзно-кистозной, дисгормональной, инволютивной). Ранняя диагностика доброкачественных и злокачественных образований молочной железы. Динамическое наблюдение после оперативных вмешательств на молочной железе.
							p  Лечение после перенесенных травм, ушибов молочной железы (гематом). Консультации в период лактации (кормления грудью). Диагностика и лечение образований молочной железы у мужчин (гинекомастия). 


						+sl-lg('1','Щербина Александр Иванович','Главный врач, онколог маммолог',"Видео -презентация доктора Щербина","Видео-отзывы о докторе Щербина")
							p 
								strong Опыт работы: 
								| 
								|  33 года. 
							p 
								strong Образование: 
								| 
								| 
								| Харьковский медицинский институт 1984 г. 

							p 
								strong Лечение заболеваний: 
								| 
								| Диагностика и лечение всех форм мастопатии (фиброзно-кистозной, дисгормональной, инволютивной). Ранняя диагностика доброкачественных и злокачественных образований молочной железы.
							p  Динамическое наблюдение после оперативных вмешательств на молочной железе. Лечение после перенесенных травм, ушибов молочной железы (гематом). Консультации в период лактации (кормления грудью). Диагностика и лечение образований молочной железы у мужчин (гинекомастия). 

						+sl-lg('1','Лозан Юрий Юрьевич','Маммолог',"Видео -презентация доктора Лозан","Видео-отзывы о докторе Лозан")
							p 
								strong Опыт работы: 
								| 
								|  2 года 
							p 
								strong Образование: 
								| 
								| 
								| Харьковский национальный медицинский университет 2016 г 
							p 
								strong Лечение заболеваний: 
								| 
								| Диагностика и лечение всех форм мастопатии (фиброзно-кистозной, дисгормональной, инволютивной). Ранняя диагностика доброкачественных и злокачественных образований молочной железы.
							p Динамическое наблюдение после оперативных вмешательств на молочной железе. Лечение после перенесенных травм, ушибов молочной железы (гематом). Консультации в период лактации (кормления грудью). Диагностика и лечение образований молочной железы у мужчин (гинекомастия).

						+sl-lg('1','Онищенко Татьяна Борисовна','Врач акушер-гинеколог',"Видео -презентация доктора Онищенко","Видео-отзывы о докторе Онищенко")
							p 
								strong Опыт работы: 
								| 
								| 20 лет.



							p 
								strong Образование: 
								| 
								| 
								| Харьковский  государственный медицинский университет 1997 г



							p 
								strong Лечение заболеваний: 
								| 
								| Диагностика и лечение заболеваний передающихся половым путем (хламидиоз, уреаплазмоз, микоплазмоз, трихомониаз, герпес, гонорея, гарднереллёз, кандидоз). Лечение эрозии шейки матки, лейкоплакии, аднексита, эндометриоза, уретритов, бесплодия.
						

						+sl-lg('1','Беседина Ольга Ивановна','Врач ультразвуковой диагностика',"Видео -презентация доктора Бесединой","Видео-отзывы о докторе Бесединой") 
							p 
								strong Опыт работы: 
								| 
								|  27 лет. 
							p 
								strong Образование: 
								| 
								| 
								|  Харьковский медицинский институт 1990 г. 
							p 
								strong Лечение заболеваний: 
								| 
								| Ультразвуковая диагностика щитовидной железы (аутоиммунный  тиреоидит, узловой зоб и др.), молочной железы (фиброзно-кистозная мастопатия, фиброаденома и др.), почек (пиелонефрит, мочекаменная болезнь и др.), желудочно-кишечного тракта (гепатит, цирроз, желчно-каменная болезнь, холецистит, панкреатит), селезенки, мочеполовой системы (аденома простаты, простатит, мочекаменная болезнь), вагинальное УЗИ.

						+sl-lg('1','Бельская Елена Александровна','Врач дерматовенеролог',"Видео -презентация доктора Бельской","Видео-отзывы о докторе Бельской")
							p 
								strong Опыт работы: 
								| 
								| 14 лет. 
							p 
								strong Образование: 
								| 
								| 
								| Харьковский  государственный медицинский университет 2003 г. 
							p 
								strong Лечение заболеваний: 
								| 
								| Диагностика, лечение и удаление новообразований кожи (бородавки, папилломы, кондиломы, родинки, контагиозные моллюски, гемангиомы, сосудистые сеточки, пигментации), лечение хронических кожных заболеваний (псориаз, экзема, атопический дерматит), инфекции кожи (пиодермия, грибковые заболевания)
						+sl-lg('1','Резюкин Алексей Васильевич','Врач хирург, ведущий маммолог',"Видео -презентация доктора Резюкин","Видео-отзывы о докторе Резюкин") 
							p 
								strong Опыт работы: 
								| 
								|  14 лет. 

							p 
								strong Образование: 
								| 
								| 
								| Харьковский  государственный медицинский университет 2003 г. 
							p 
								strong Лечение заболеваний: 
								| 
								| Диагностика, лечение и удаление новообразований кожи (бородавки, папилломы, кондиломы, родинки, контагиозные моллюски, гемангиомы, сосудистые сеточки, пигментации), лечение хронических кожных заболеваний (псориаз, экзема, атопический дерматит), инфекции кожи (пиодермия, грибковые заболевания)
	// end s-team